<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">
      Astro-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="'bg-'+data.sign">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Astro-App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="light">
    <h1>
      <ion-icon name="moon-outline"></ion-icon> is in {{data.sign}}
    </h1>
    <h4><!-- <ion-icon name="time"></ion-icon> -->From {{data.startTime}}</h4>
    <h4>To {{data.endTime}}</h4>
  </ion-text>

</ion-content>
